body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10;
    background-color: rgb(250, 235, 215);
}
h1 {
    text-align: center;
}
h2 {
    padding-left: 20;
}
table.har {
    margin: 0 auto;
    border-collapse: collapse;
}
th,
td {
  padding: 8px 12px;
}


#switch {
    border: 2px solid;
    border-radius: 2%;
    margin: auto;
}
#textkeyboard {
    max-width: 650px;
}
#textswitch {
    width: 600px;
    margin: auto;
    padding-right: 30%;
}
table.keyboard {
    border: 0px;
    margin: auto;
    border-collapse: collapse;
}
#keyboarddiv {
    margin: auto;
    border-radius: 500px;
    background-color: rgb(200, 197, 192);
    height: 250px;
}
#switchdiv {
    background-color: rgb(200, 197, 192);
    height: 310px;
    border-radius: 400px;
    margin: auto;
    padding-left: 200px;
    width: 1300px;
}
#switchtable {
    margin: auto;
}
